sudo apt install -y bind9 dnsutils

cat /etc/bind/named.conf

include "/etc/bind/named.conf.options";
include "/etc/bind/named.conf.local";
include "/etc/bind/named.conf.default-zones";

Forward Zone Files: /etc/bind/named.conf.local , /etc/bind/db.nodhcp.com

cat /etc/bind/named.conf.options # for Caching Nameserver

option {
        forwarders {
                8.8.8.8
        };
};

cat /etc/bind/named.conf.local # for Primary Master

zone "nodhcp.com" {
        type master;
        file "/etc/bind/db.nodhcp.com";
};

sudo cp /etc/bind/db.local /etc/bind/db.nodhcp.com

cat /etc/bind/db.nodhcp.com # You must increment the Serial Number (yyyymmddss) every time you make changes to the zone file (where ss is the Serial Number)

;
; BIND data file for nodhcp.com
;
$TTL    604800
@       IN      SOA     nodhcp.com. root.nodhcp.com. (
                         2016121904     ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      nodhcp.com.
@       IN      A       192.168.3.4
@       IN      AAAA    ::1
ns      IN      A       192.168.3.4
ubuntu1 IN      A       192.168.3.3


add 192 Reverse zone to named.conf.local
// nodhcp.com reverse zone
zone "3.168.192.in-addr.arpa" {
        type master;
        file "/etc/bind/db.192";
};

create db.192
sudo cp db.127 db.192
cat db.192 
;
; BIND reverse data file for local 192.168.3.xxx net
;
$TTL	604800
@	IN	SOA	nodhcp.com. root.nodhcp.com. (
			 2016121903	; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
@	IN	NS	nodhcp.com.
3	IN	PTR	ubuntu1
4	IN	PTR	ubuntu2
